<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />
    <title>修改模板引擎的标识符</title>

</head>

<body>
    <script type="text/javascript" src="/static/js/jquery-3.6.0.min.js">
    </script>
    <div>{{ . | safe }}</div>
</body>

</html>